<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>


<div class="container" style="margin-top: 50px; padding: 50px">
    <h1>Student Registration Form</h1>

    <form th:action="@{/student/createOrEditStudent}" method="post" th:object="${student}">
    <label for="name">Name:</label>
    <input class="form-control" type="text" id="name" name="name" required th:field="*{name}">

    <label for="grade">Grade:</label>
    <input class="form-control" type="number" id="grade" name="grade" required min="1" max="12" th:field="*{grade}">
    <br>
    <button class="btn btn-primary" type="submit">Register</button>
</form>
</div>
</body>
</html>